.settings-wrapper {
  font-size: 16px;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  background: #f15a1b;
  background: -moz-linear-gradient(left, #f15a1b 0%, #f37f20 100%);
  background: -webkit-linear-gradient(left, #f15a1b 0%,#f37f20 100%);
  background: linear-gradient(to right, #f15a1b 0%,#f37f20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15a1b', endColorstr='#f37f20',GradientType=1 );
}

label {
  font-weight: bold;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 30px;
  font-size: 16px;
}

button {
  padding: 10px 25px;
  background: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #f37f20;
  transition:
    background 0.25s,
    color 0.25s;
}

button:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}